/node_modules/
npm-debug.log
/http/game.*.bundle.js
/http/game.*.bundle.js.map
/http/console.*.bundle.js
/http/console.*.bundle.js.map
/http/host.*.bundle.js
/http/host.*.bundle.js.map
/http/main.*.bundle.js
/http/main.*.bundle.js.map
/http/dll/dll.vendor.js
/__logs__/*