html { background: #bef }
html.hostgame {
	background: url('/img/scape/city.svg') repeat-x #4af;
	background-size: cover;
	color: #000;
}
#host-headers { flex-grow: 1 }
#header {
	font-size: calc(1em + 4vmin);
	margin: 0 1.5rem;
}
#header span, #subheader { font-weight: normal }
nav {
	position: relative;
	float: right;
	font-size: 1.1em;
	padding: 0.2em 0.5em;
}
nav.loggedin { background: #fff }
#navmenu {
	position: absolute;
	background: #fff;
	margin: 0;
	z-index: 1;
	right: 0;
}
#navmenu li {
	white-space: pre;
	padding: 0.5em 1em 0.5em 0;
}
#tgame #subheader {
	font-size: calc(1em + 2.5vmin);
	text-align: left;
	margin: 0.3em 1.5rem;
}
#tgame h2 { text-align: center }
#progress {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	overflow: hidden;
	z-index: -1;
}
#progress.hide {
	opacity: 0;
	transition: opacity 0.5s;
}
#progress > div {
	position: absolute;
	left: 0;
	width: 3.2em;
	padding: 0.25em 0.5em;
	color: #fff;
	font-size: 2em;
	background: url('/img/canoeside.svg') no-repeat;
	background-size: contain;
	text-shadow: 1px 1px 3px #000;
}
#progress > div.raft { background: url('/img/raftside.svg') no-repeat }
.qset {
	padding: 1em 2em;
	margin: 0.5em 0;
	background: #fff;
}
details p, details h3 { margin: 0.2em 0 }
#new-qset, #search-form { display: block }
#new-qset {
	padding: 1em 2em;
	background: #fff;
}
#new-qset[hidden] { display: none }
#new-qset.hide {
	opacity: 0;
	pointer-events: none;
}
#new-qset h2 { margin-top: 0 }
#new-qset p { margin: 0.5em 0 0.3em }
#new-qset li { width: 100% }
#new-qset ul li, .q-edit ul li {
	display: flex;
	align-items: center;
}
#new-qset ul li input:not([type='checkbox']), .q-edit ul li input:not([type='checkbox']) {
	flex-grow: 1;
	margin-left: 0.5em;
}
#new-qset ul, .q-edit ul { padding-left: 1em }
.q-edit form, .q-edit label, .q-edit li { width: 100% }
section.left-align { background: #eee }
.left-align form[hidden] + details { margin-top: 0 }
#questions input[type='checkbox'], .qset input[type='checkbox'] {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	width: 1.5em;
	height: 1.5em;
	padding: 0;
	border-radius: 5px;
	background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iI2YwMCI+PHBhdGggZD0iTTIsMyAxMywxNCAxNCwxMyAzLDIiLz48cGF0aCBkPSJNMTQsMyAzLDE0IDIsMTMgMTMsMiIvPjwvc3ZnPg==') #fff;
	background-size: contain;
}
#questions input[type='checkbox']:checked, .qset input[type='checkbox']:checked {
	background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iI2ZmZiI+PHBhdGggZD0iTTIuNSw4LjUgNSwxMSAxMy41LDIuNSAxNSw0IDUsMTQgMSwxMCIvPjwvc3ZnPg==') #0c0;
	background-size: contain;
	transition: background-color 0.1s;
}
.check-list { list-style: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iIzBiMCI+PHBhdGggZD0iTTIuNSw5LjUgNSwxMiAxMy41LDMuNSAxNSw1IDUsMTUgMSwxMSIgLz48L3N2Zz4=') }
.cross-list { list-style: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iI2YwMCI+PHBhdGggZD0iTTIsNSAxMywxNiAxNCwxNSAzLDQiIC8+PHBhdGggZD0iTTE0LDUgMywxNiAyLDE1IDEzLDQiIC8+PC9zdmc+') }
.left-align { margin: 0 -1.3em }
#filter { margin: 0.5em 0 0 }
#filter a {
	background: #6df;
	color: #000;
	padding: 0.4em 1em;
	margin: 0 0.2em 1px;
	border: 1px solid #888;
	border-bottom: none;
	display: inline-block;
	transition: background 0.1s;
}
#filter a:hover {
	background: #8ef;
	transition: color 0.1s;
}
#filter a:active, #filter a.active {
	background: #08f;
	color: #fff;
}
#search { width: 100% }
#search-form button {
	margin-left: 0.5em;
	font-size: 1.2rem;
}
#search-form .half-divider { margin-bottom: 0.5em }
summary + ol {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}
summary + ol > li {
	display: flex;
	flex-grow: 1;
	border: 0.5px solid #aaa;
	padding: 1.5em 0.5em 0.5em;
}
summary + ol > li > div {
	flex-grow: 1;
	margin-left: 1em;
}
summary + ol > li > :not(a):not(.q-ctrls) { min-width: 5em }
.hostgame #tgame {
	position: absolute;
	top: 0; bottom: 0; left: 0;
	width: calc(4em + 30%);
	padding: 1em;
	background: rgba(255, 255, 255, 0.8);
	height: 100%;
}
.validating :invalid { border: 2px solid #f00 }
summary { font-size: 1.5em }
summary::after {
	content: '';
	display: table;
	clear: both;
}
summary > small { float: right }
summary h2, summary h3 {
	display: inline;
	font-size: 1em;
}
[open] > summary { margin-bottom: 1em }
h2 { margin-bottom: 0.3em }
#new-game > * {
	display: inline-block;
	vertical-align: top;
}
#new-game label { margin-top: 0 }
#new-game select { display: block }
#new-game button { margin-left: 1em }
.qset > ol > li { position: relative }
.q-edit { background: #cef }
.q-add { background: #fec }
.q-ctrls, .discard {
	position: absolute;
	top: 0.3em; right: 0.3em;
}
.edit { color: #00f }
.discard, .delete, #close { color: #f00 }
.discard:hover, .delete:hover, #close:hover { color: #f66 }
.discard:active, .delete:active, #close:active { color: #c00 }
.delete, .remove-q {
	background: url('/img/trash.svg');
	width: 0.9em;
	height: 1.1em;
	vertical-align: top;
	display: inline-block;
}
#close { float: right }
.dup { color: #777 }
.dup:hover { color: #888 }
.dup:active { color: #555 }
.play { color: #0c0 }
.play:hover { color: #4cc }
.play:active { color: #0a0 }
summary small a {
	padding: 0 0.3em;
	text-decoration: none;
}