html:not(.hostgame):not(.no-bg) {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 70%;
	background-image: url('/img/landing-background.svg');
}
body {
	margin: 0;
	line-height: 1.35;
}
section { padding: calc(2em + 2vh) 5% }
main > section:first-of-type {
	position: absolute;
	top: 0; left: 0; right: 0;
	margin-top: 22vh;
	transform: translateY(-22%);
	text-align: center;
}
main > section:first-of-type p { display: none }
#summary {
	margin-top: 100vh;
	background: #223;
	color: #fff;
}
#benefits { background: #fff }
section::after {
	content: '';
	display: table;
	clear: both;
}
section div {
	width: 25%;
	float: left;
	padding: 0 1em;
}
@media (max-width: 1200px) {
	section div { width: 50% }
	section div:nth-child(3) { clear: both }
	section div:nth-child(3), section div:nth-child(4) { margin-top: 2em }
}
section div h2 { text-align: center }
section div h2, section div p { margin: 0.3em 0 }
section div svg {
	display: block;
	margin: 0 auto;
	max-width: 12em;
}
@media (min-height: 32em) {
	main > section:first-of-type {
		margin-top: 32vh;
		transform: translateY(-32%);
	}
	main > section:first-of-type p {
		display: block;
		margin-top: 10vh;
		font-size: calc(1.2rem + 1vmin);
	}
}
#logo {
	width: calc(14em + 10%);
	position: absolute;
	max-width: 100%;
	top: 1em;
	left: 2.5em;
}
h1 {
	font-size: calc(2rem + 1vw);
	margin: 0.4em 0;
}
button {
	margin-left: auto; margin-right: auto;
	font-size: 1.8em;
}
section > h2 {
	text-align: center;
	margin: 0 0 0.5em;
	font-size: 2.5em;
}
.buttons { text-align: center }
.button { margin: 0 0.5em }
section > p {
	display: table;
	margin: 0 auto;
	font-size: 1.4em;
	line-height: 1.4;
}
#bottom-bg {
	position: absolute;
	bottom: 0;
}
#about {
	background: #4ac;
	position: relative;
	overflow: hidden;
	color: #fff;
	padding-bottom: 15%;
}
#about section {
	z-index: 1;
	position: relative;
}
#about section:first-child {
	margin-bottom: 8em;
}