html:not(.hostgame):not(.no-bg) {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 70%;
	background-image: url('/img/landing-background.svg');
}
body {
	margin: 0;
	line-height: 1.35;
}
section { padding: calc(2em + 2vh) calc(7.5em + 3.5%) }
@media (max-width: 600px) {
	section {
		padding: calc(2em + 2vh) calc(0.5em + 3.5%);
	}
}
main > section:first-of-type {
	position: absolute;
	top: 0; left: 0; right: 0;
	margin-top: calc(16vh + 4em);
	transform: translateY(-16%);
	text-align: center;
}
#spice { display: none }
#summary { margin-top: 100vh; text-align: center;}
#summary {
	background: #256;
	color: #eee;
}
@media (max-width: 600px) {
	#summary > iframe {
		max-width: 100%;
	}
}
#benefits { background: #fff }
section::after {
	content: '';
	display: table;
	clear: both;
}
section div {
	float: left;
	padding: 0 1em;
}
@media (min-width: 600px) {
	section div { width: 33.33333333% }
}
section div h2 { text-align: center; font-weight: normal; }
section div h2, section div p { margin: 0.3em 0 }
section div p { text-align: center }
section div svg {
	display: block;
	margin: 0 auto;
	max-width: 12em;
}
@media (min-height: 32em) {
	main > section:first-of-type {
		margin-top: 32vh;
		transform: translateY(-32%);
	}
}
@media (min-height: 600px) and (min-width: 600px) {
	#spice {
		display: block;
		font-size: 1.25em;
	}
}
header {
	padding: 1em;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
#logo {
	margin: 1em auto;
	display: block;
	height: 2.2em;
	max-width: 100%;
}
#log-in { display: none }
@media (min-width: 27em) {
	#log-in {
		display: block;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		margin: 0 calc(0.5rem + 2%) 0 0;
	}
	#logo { margin: 0.5em 0 0 calc(0.5rem + 2%) }
}
h1 {
	font-size: calc(2rem + 1.5vw);
	line-height: 1.25;
	margin: 0;
	font-weight: normal;
}
#spice {
	margin-left: auto; margin-right: auto;
}
section > h2 {
	text-align: center;
	margin: 0 0 0.5em;
	font-size: 2.5em;
	font-weight: normal;
}
.buttons { text-align: center }
.button { margin: 0 0.5em }
section > p {
	display: table;
	margin: 0 auto;
	line-height: 1.5;
}
#play-a-game {
	margin-top: 2vh;
}
#bottom-bg {
	position: absolute;
	bottom: 0;
}
#about {
	background: #4ac;
	position: relative;
	overflow: hidden;
	color: #eee;
	padding-bottom: 0%;
}
#about section {
	z-index: 1;
	position: relative;
}
#about section:first-child { margin-bottom: 8em }
