* {
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #19a8a6;
}

img {
	-khtml-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	pointer-events: none;
}

html {
	background-color: #ebfcfc;
}

#mountNode {
	background-color: #ebfcfc;
}

strong,b {
	font-weight: bold;
}

section {
	overflow-y: hidden;
}

.container {
	max-width: 1300px;
}

.landing-neg > .container > .row > div > *,.landing-neg > .container > .row > div > * > * {
	color: white;
}

.landing-top-section {
	height: 100vh;
}

.landing-pos {
	background-color: #efefef;
}

.landing-neg {
	background-color: #212f3c;
}

@media (min-width: 800px) {
	.landing-river {
		background: url('/img/backgrounds/calm-sea.svg') no-repeat center top;
		background-size: cover;
	}
}

@media (max-width: 800px) {
	.mobileless {
		display: none;
	}
}

@media (max-width: 800px) {
	.landing-river {
		background-color: #bee6f1;
	}
}

.landing-body {
	background: #bee6f1;
}

.landing-top-group {
	margin-top: 50vh;
	transform: translateY(-50%);
}

.landing-group {
	padding: 8vh;
}

.text-landing {
	font-size: 6rem;
}

.button-landing {
	padding: 0 5rem;
}

.feature-img {
	width: 50%;
}

body {
	background-color: #fff;
	margin: 0;
}

input[type=tel],input[type=url],input[type=password],input[type=email],input[type=number],input[type=search],input[type=text],select,textarea,input {
	color: white;
	background-color: #19a8a6;
	font-size: 1.5rem;
	border-radius: 25px;
	text-align: center;
	box-shadow: none;
	border: 1px #19a8a6 solid;
}

label {
	font-weight: normal;
}

.navbar {
	background: #bee6f1;
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 0;
	margin-bottom: 2rem;
}

#landing-img {
	max-width: 50%;
}

.button.button-primary,button.button-primary,input[type=submit].button-primary,input[type=reset].button-primary,input[type=button].button-primary {
	border-radius: 30px;
	background-color: #ed676c;
	border: none;
	letter-spacing: normal;
	text-transform: none;
	font-size: 1.5rem;
	font-weight: bold;
	color: white;
}

.button.button-primary:hover,button.button-primary:hover,input[type=submit].button-primary:hover,input[type=reset].button-primary:hover,input[type=button].button-primary:hover,.button.button-primary:active,button.button-primary:active,input[type=submit].button-primary:active,input[type=reset].button-primary:active,input[type=button].button-primary:active,.button.button-primary:focus,button.button-primary:focus,input[type=submit].button-primary:focus,input[type=reset].button-primary:focus,input[type=button].button-primary:focus {
	background-color: #dd575c;
}

.button-primary.button-inline,.button-secondary.button-inline {
	margin-left: 10px;
}

.inline-blocky > * {
	display: inline-table;
	vertical-align: middle;
}

.button.button-secondary,button.button-secondary,input[type=submit].button-secondary,input[type=reset].button-secondary,input[type=button].button-secondary {
	border-radius: 30px;
	margin-top: 10px;
	background-color: white;
	border: none;
	letter-spacing: normal;
	text-transform: none;
	font-size: 1.5rem;
	font-weight: bold;
	color: #19a8a6;
}

.navbar-logo {
	height: 4rem;
	width: auto;
}

.text-center {
	text-align: center;
}

h1 {
	font-size: 5rem;
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: bold;
	overflow-y: hidden;
}

h2 {
	font-size: 4rem;
	font-weight: bold;
	max-width: 100%;
}

h3 {
	font-size: 3rem;
	font-weight: normal;
	max-width: 100%;
}

h4 {
	font-size: 2rem;
	font-weight: normal;
	max-width: 100%;
}

.pill,.pill > * {
	background-color: #1e414e;
	border-radius: 0.5rem;
	color: white;
	padding: 0 1rem;
}

.pill > .pill {
	display: none;
}

.pill:hover > .pill {
	display: inline-block;
	margin: 0;
	padding: 0;
	border-radius: 0;
	line-height: 1;
}

.pill[.clickable]:hover {
	background-color: #ecf0f1;
}

.panel {
	background-color: transparent;
	border-radius: 2rem;
	color: white;
	padding: 20px;
	margin-bottom: 40px;
}

.answers > .pill {
	position: absolute;
	left: 0;
	top: 0;
	background-color: #26a65b;
	padding: 0.5rem 2rem;
	border: 2px solid #ecf0f1;
	border-radius: 4rem;
	font-size: 20px;
	color: white;
}

.answers > .pill > * {
	color: white;
}

.answers > .pill:hover {
	position: absolute;
	left: 0;
	top: 0;
	background-color: #16964b;
	padding: 0.5rem 2rem;
	border: 2px solid #ecf0f1;
	border-radius: 4rem;
	font-size: 20px;
	cursor: pointer;
}

@media (min-width: 700px) {
	.navbar > .columns > p,a {
		text-align: right;
	}
}

.studentselect > li {
	font-size: 2rem;
}

.racetrack-boat > p {
	color: white;
	background-color: transparent;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.river {
	background: #32c0cf no-repeat center top;
	width: 100%;
	height: 75vh;
	text-align: center;
	border-radius: 0 0 2rem 2rem;
	overflow-x: hidden;
	overflow-y: hidden;
}

.answers {
	position: relative;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	z-index: 0;
}

.panel-group {
	margin-top: 15px;
}

.panel-group > .panel-top {
	background-color: white;
	border-radius: 0;
	padding: 15px;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.04);
}

.panel-top > h2,.panel-top > p {
	color: #212f3c;
}

.panel-group > .panel-bottom {
	background-color: white;
}

.panel-group > .panel-bottom > * {
	background-color: #26a65b;
	border-radius: 0;
}

.panel-bottom {
	height: 10px;
}

#question {
	margin-bottom: 0;
}

.button-primary {
	margin-top: 10px;
}

.tap-button {
	height: 200px;
	width: 200px;
	border-radius: 100px;
	color: white;
	font-weight: bold;
	font-size: 100px;
	background-color: #e74c3c;
	border: none;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
	text-align: center;
}

.tap-button:hover,.tap-button:active {
	color: white;
	background-color: #f75c4c;
}

.whirlpool-button {
	color: white;
	text-align: center;
	background-color: #26a65b;
	border-radius: 0;
	letter-spacing: normal;
}

.modal-active {
	text-align: center;
	z-index: -1;
}

.modal-background {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

.modal-background > * {
	position: relative;
}

@keyframes incorrect-answer-shake {
	0% {
		transform: rotate(30 deg);
	}

	25% {
		transform: rotate(-30 deg);
	}

	50% {
		transform: rotate(30 deg);
	}

	75% {
		transform: rotate(-30 deg);
	}
}

.incorrect-answer-shake {
	animation: incorrect-answer-shake 0.6s;
}

@keyframes flash-red-twice {
	0% {
		background: #c0392b;
	}

	49% {
		background: transparent;
	}

	50% {
		background: #c0392b;
	}
}

.flash-red-twice {
	animation: flash-red-twice 0.75s;
}

@keyframes shake {
	10%,90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,50%,70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,60% {
		transform: translate3d(4px, 0, 0);
	}
}

.margins {
	margin-top: 30px;
}

.marginless {
	margin-bottom: 0;
}

#notification {
	position: absolute;
	background-color: white;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
	width: 100vw;
	z-index: 100;
	left: 0;
	top: 0;
}

#notification > .container {
	padding: 20px;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes bounceindown {
	from,60%,75%,90%,to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -3000px, 0);
		transform: translate3d(0, -3000px, 0);
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0);
	}

	75% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0);
	}

	90% {
		-webkit-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0);
	}

	to {
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes bounceindown {
	from,60%,75%,90%,to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -3000px, 0);
		transform: translate3d(0, -3000px, 0);
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0);
	}

	75% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0);
	}

	90% {
		-webkit-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0);
	}

	to {
		-webkit-transform: none;
		transform: none;
	}
}

.bounceindown {
	-webkit-animation-name: bounceindown;
	animation-name: bounceindown;
}

@-webkit-keyframes bounceoutup {
	20% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0);
	}

	40%,45% {
		opacity: 1;
		-webkit-transform: translate3d(0, 20px, 0);
		transform: translate3d(0, 20px, 0);
	}

	to {
		opacity: 0;
		-webkit-transform: translate3d(0, -2000px, 0);
		transform: translate3d(0, -2000px, 0);
	}
}

@keyframes bounceoutup {
	20% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0);
	}

	40%,45% {
		opacity: 1;
		-webkit-transform: translate3d(0, 20px, 0);
		transform: translate3d(0, 20px, 0);
	}

	to {
		opacity: 0;
		-webkit-transform: translate3d(0, -2000px, 0);
		transform: translate3d(0, -2000px, 0);
	}
}

.bounceoutup {
	-webkit-animation-name: bounceoutup;
	animation-name: bounceoutup;
}

.text-right {
	text-align: right;
}

@media (max-width: 550px) {
	.text-right {
		text-align: left;
	}
}
